* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html,
body{
  overflow-x:hidden;
}
#root{
  overflow-x:hidden;
}

body {
  background: #0f172a;
  color: white;
}

/* NAVBAR */
nav {
  position: fixed;
  width: 100%;
  top: 0;
  padding: 20px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(15, 23, 42, 0.8);
  backdrop-filter: blur(10px);
  z-index: 1000;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

nav a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

nav a:hover {
  color: #38bdf8;
}

/* HERO */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 80px;
}

.hero-left {
  flex: 1;
}

.hero-right {
  flex: 1;
  text-align: center;
}

.hero img {
  width: 300px;
  border-radius: 20px;
}

.btn {
  padding: 12px 24px;
  background: #38bdf8;
  color: black;
  border-radius: 8px;
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;
  font-weight: bold;
  transition: 0.3s;
}

.btn:hover {
  background: #0ea5e9;
}

section {
  padding: 100px 80px;
}

.cards {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.card {
  background: #1e293b;
  padding: 20px;
  border-radius: 12px;
  width: 250px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-8px);
}